body {
    background-image: url("img/cork-board.png");
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #485b3b;
    text-decoration: underline;
}

#container {
    width: 878px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding-bottom: 40px;
    text-align: justify;
}

.scrollup {
   background-image: url("img/up.png");
   background-repeat: no-repeat;
   width: 64px;
   height: 64px;
   position: fixed;
   right: 50px;
   bottom: 50px;
   display: none;
}

.slajd {
    margin: auto;
    width: 91%;
}

h1 {
    font-size: 24px;
    text-transform: uppercase;
}

ol {
    margin-top: 0px;
    padding-top: 20px;
    padding-left: 100px;
}

ol > li {

    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 5px;
}

ol > li > ul {
    letter-spacing: 0px;
    padding-top: 5px;
    font-weight: 400;
    margin-left: -20px;
}

ol > li > ul > li {
    font-weight: 400;
    list-style: none;
    text-transform: none;
    font-size: 16px;
    padding: 0px;
}

ol > li > ul > li:before {
    content: "\265A";
    margin-right: 10px;
    color: #485b3b;
}

#logo {
    color: #fff;
    text-align: center;
    letter-spacing: 3px;
    background-color: #485b3b;
    height: 50px;
    width: 100%;
    font-size: 36px;
    text-shadow:
        2px 2px #33402a,
        -2px 2px #33402a,
        -2px -2px #33402a,
        2px -2px #33402a;
    border-bottom: solid 2px #33402a;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

#stopka > a {
    color: #fff;
    text-decoration: none;
}

#stopka > a:hover {
    text-decoration: underline;
}

#stopka {
    color: #fff;
    text-align: center;
    background-color: #485b3b;
    font-size: 18px;
    width: 100%;
    text-shadow:
        2px 2px #33402a,
        -2px 2px #33402a,
        -2px -2px #33402a,
        2px -2px #33402a;
    border-top: solid 2px #33402a;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

/*Zawartość klasy slajd*/

.naglowek_ramki {
    width: 790px;
    background-color: #314004;
    padding: 5px;
    font-weight: 700;
    color: #fff;
}

.zawartosc_ramki {
    width:790px;
    background-color:#dedede;
    padding:5px;
}

.czerwony {
    background-color:#912525;
}
